<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RabbitMQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RabbitMQ.Properties.Settings.conn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BackEndSQL;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RabbitMQ.Properties.Settings>
            <setting name="rabbitMQUsername" serializeAs="String">
                <value>zzyioaic</value>
            </setting>
            <setting name="rabbitMQPassword" serializeAs="String">
                <value>9OS-gT0T5xkSDaGzPksd51hB0Q4VPbpX</value>
            </setting>
            <setting name="rabbitMQVhost" serializeAs="String">
                <value>zzyioaic</value>
            </setting>
            <setting name="rabbitMQHostName" serializeAs="String">
                <value>hound-01.rmq.cloudamqp.com</value>
            </setting>
        </RabbitMQ.Properties.Settings>
    </userSettings>
</configuration>